<main class="container mx-auto max-w-5xl flex gap-x-5 mt-10">
  <div class="w-2/5 mx-auto">
    <img
      src="../../../assets/imagenClima.jfif"
      alt="imagen del clima"
      class="mx-auto w-3/4 rounded-2xl"
    />
  </div>
  <div class="w-3/5">
    <label
      for="default-input"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Ingrese ciudad:</label
    >
    <input
      type="text"
      id="default-input"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      [(ngModel)]="ciudad"
    />
    <button
      class="bg-blue-500 text-white py-2 px-3 rounded-lg mt-5"
      [disabled]="ciudad === ''"
      (click)="obtenerClima()"
    >
      Obtener clima
    </button>

    <div
      class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mt-5 mx-auto"
    >
      <p
        class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Temperatura:
      </p>
      <p
        class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Humedad:
      </p>
      <p
        class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Clima:
      </p>
    </div>
  </div>
</main>
